<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/main.css}">
<title th:text="'Paiement'"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
	<h1 id="title" th:text="'Paiement'"></h1>


	<form th:action="@{/cb}" method="post">
		<label>Numéro de carte bleue</label>
 		<input type="text" placeholder="XXXX-XXXX-XXXX" maxlength="19" value="" /><br/>
			 <label>Date d'expiration</label><br /> <label>mois</label> <select>
			<option value="janvier">janvier</option>
			<option value="fevrier">février</option>
			<option value="mars">mars</option>
			<option value="avril">avril</option>
			<option value="mai">mai</option>
			<option value="juin">juin</option>
			<option value="juillet">juillet</option>
			<option value="aout">août</option>
			<option value="septembre">septembre</option>
			<option value="octobre">octobre</option>
			<option value="novembre">novembre</option>
			<option value="decembre">décembre</option>
		</select><br /> <label>année</label> <select >
			<option value="2018">2018</option>
			<option value="2019">2019</option>
			<option value="2020">2020</option>
			<option value="2021">2021</option>
			<option value="2022">2022</option>
			<option value="2023">2023</option>
			<option value="2024">2024</option>
			<option value="2025">2025</option>
			<option value="2026">2026</option>
			<option value="2027">2027</option>
			<option value="2028">2028</option>
			<option value="2029">2029</option>
		</select><br /> 
		<label>Code à 3 chiffres </label> <input type="text"
			 maxlength="3" value=""/> <br/>
		
		<input type="submit" class="button" value="Procéder">
		</form>
	
	<form th:action="@{/}">
		<input class="button" type="submit" value="Retour au site" />
	</form>
	
</body>
</html>